/************************************
BASE ELEMENT STYLES
************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  background-color: red;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  font-size: .95em;
  margin-bottom: 1.8em;
}

h2,
h3 {
  margin-top: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}




/************************************
BASE LAYOUT STYLES
************************************/

/* ---- Navigation ---- */

.title-bar {
  font-size: 1.35em;
  margin: auto;
  display: flex;
  width: 100%;
  justify-content: center;
}

.main-nav {
  margin-top: 5px;
  background-color: #4CAF50;
}

.title-bar a,
.main-nav a {
  text-align: center;
  padding: 10px 15px;
}

.main-nav a {
  display: block;
  font-size: .95em;
  text-transform: uppercase;
  color: blue;
}

.main-nav a:hover, nav a.selected {
  color: green;
}

/* ---- Layout Containers ---- */

.main-header {
  padding-top: .5em;
  padding-bottom: .5em;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 5%;
}

h2 {
  margin: auto;
  text-align: center:;
}

.buttons {
    background-color: #4CAF50; /* Green */
    border: none;
    color: green;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 12px;
    width: 100%;
}

.money-button {
    border: 5px;
    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 12px;
    width: 100%;
    margin-top: 5px;
}

.money-button:hover {
  color: blue;
}

.main-footer {
  text-align: center;
}

/* ---- Page Elements ---- */

img {
  border-radius: 5px;
}

.second-header {
  font-size: .95em;
}

.special-note {
  font-size: .8em;
}





@media screen and (min-width: 660px) {

    .title-bar,
    .main-nav,
    .buttons,
    .gallery,
    .wrapper {
    display: flex;
  }

  .title-bar {
    width: 100%;
    font-size: 2em;
  }

  .main-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 1% 2%;
    font-size: 1em;
  }

  .second-header {
    font-size: 1em;
  }

  /* ---- PAGE: HOME ---- */

  .money-button {
    margin: 5px;
  }

  /* ---- PAGE: GALLERY ---- */

  .gallery {
    flex-wrap: wrap;
    align-items: center;
  }

  .pic {
    flex-direction: row;
    width: 40%;
    margin: 2.5%;
    justify-content: space-around;
  }

  body {
      background-color: green;
    }

}



@media screen and (min-width: 960px) {


  .main-nav {
    font-size: 1.25em;
    align-content: flex-end;
  }

  /* ---- PAGE: GALLERY ---- */

  .pic {
    width: 30%;
    margin: 1.1111%;
  }

  body {
    background-color: pink;
  }

}






























